/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.navbar-brand {
    float: left;
    padding: 22px 15px;
}

#copyright {
    padding: 0px
}

.homepage h4{
    display: inline-block;
    border-bottom: solid 5px #38a7bb;
    line-height: 1.1;
    margin:0 0 15px 0;
    padding-top: 10px;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.06em;
}
.homepage p {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;

}

.text-left{
}

.no-pd{
    padding: 0px
}

table{
  margin-left: auto;
  margin-right: auto;
  margin-bottom:50px;
}
table, th, td {
    border: 0px solid black;
    margin-left:auto;
    margin-right:auto;
    padding-left: 50px;
    padding-rigjt: 50px;
}
th {
  cursor: pointer;
  color: #6aae7a
}

th:hover{
  text-decoration: underline
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.42857143;
  color: #555555;
}
